<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

         
          <!-- Twitter -->
          <div>
          <a class="tw-ic">
            <img src="assets/images/android.svg" alt="">
          </a></div>
          <div>
          <!-- Google +-->
          <a class="gplus-ic" href="https://www.facebook.com/ElCoffe-847487368951876/">
            <img src="assets/images/facebook.svg"  alt="">
          </a></div>
          <div>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.instagram.com/elcoffe7/?hl=en">
            <img src="assets/images/instagram.svg"  alt="">
          </a></div>
          <div>
          <!--Instagram-->
          <a class="ins-ic">
            <img src="assets/images/twitter.svg" alt="">
          </a></div>
          <div>
           <!-- Facebook -->
           <a class="fb-ic">
            <img src="assets/images/apple.svg" alt="">
          </a>
          </div>
          <!--Pinterest-->
          <!-- <a class="pin-ic">
            <img src="assets/images/apple.svg" alt="">
          </a> -->
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.facebook.com/ElCoffe-847487368951876/"> The Team </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->