<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <img style="width: 40px; padding-right: 10px" src="assets/images/logo.jpg" alt="" (click)="goToHome()">
  <a class="navbar-brand pointer"  (click)="goToHome()">El Coffe</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault"
    aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="currentUser"  [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle pointer" id="id01" ngbDropdownToggle>{{currentUser.firstName}} {{currentUser.lastName}}</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item pointer" (click)="logout()">Log Out</a>
          <a class="dropdown-item pointer" (click)="goToMyOrder()">My Order</a>
        </div>
      </li>
      <li *ngIf="currentUser.isAdmin || currentUser.isEmployee || currentUser.isCourier" class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle pointer" id="id01" ngbDropdownToggle>Administrare</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a *ngIf="currentUser.isAdmin" class="dropdown-item pointer" (click)="goToListOfUsers()">List Of Users</a>
          <a *ngIf="currentUser.isAdmin" class="dropdown-item pointer" (click)="goToListOfStatuses()">List Of Statuses</a>
          <a class="dropdown-item pointer" (click)="goToListOfOrders()" >List Of Orders</a>
        </div>
      </li>
      <!-- <li>
        <button class="btn btn-primary" (click)="openVerticallyCentered(loginTemplate)">Special Login Made for GUCI</button>
      </li> -->
    </ul>
  </div>
  <button class="btn btn-primary" (click)="!currentUser ? openVerticallyCentered(loginTemplate) : goToMenu()">Comanda Acum</button>
</nav>

<ng-template #loginTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{register ? 'Register' : 'Login'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div *ngIf="user && !register">
        <mat-form-field>
          <input matInput placeholder="Username" name="username" [(ngModel)]="user.username" required type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" name="password" [(ngModel)]="user.password" required type="password">
        </mat-form-field>
      </div>
      <div *ngIf="user && register">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" [(ngModel)]="user.username" required type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" name="password" [(ngModel)]="user.password" required type="password">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="FirstName" name="firstName" [(ngModel)]="user.firstName" required type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="LastName" name="lastName" [(ngModel)]="user.lastName" required type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="PhoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" required type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" required type="text">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address" name="address" [(ngModel)]="user.address" required type="text">
          </mat-form-field>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="register ? registerFunc() : register = true" [disabled]="register ? form.invalid : false">Register</button>
    <button type="button" class="btn btn-success" (click)="!register ? login(modal) : register = false" [disabled]="!register ? form.invalid : false">{{register ? 'Back to Login' : 'Autentificare'}}</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>